<div class="container">
  <mat-card>
    <h2>Produtos Disponíveis</h2>
    <mat-table [dataSource]="produtos" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let produto"> {{ produto.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let produto"> {{ produto.nome }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="preco">
        <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
        <mat-cell *matCellDef="let produto"> R$ {{ produto.preco | number: '1.2-2' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let produto">
          <button mat-icon-button  (click)="adicionarAoCarrinho(produto)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['id', 'nome', 'preco', 'acoes']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'preco', 'acoes'];"></mat-row>
    </mat-table>
  </mat-card>

  <mat-card>
    <h2>Carrinho</h2>
    <mat-table [dataSource]="obterCarrinho()" class="mat-elevation-z8">
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let produto"> {{ produto.nome }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
        <mat-cell *matCellDef="let produto">
          {{ produto.quantidade }}
          <button mat-icon-button style="color: red;" (click)="removerDoCarrinho(produto)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="preco">
        <mat-header-cell *matHeaderCellDef> Preço Total </mat-header-cell>
        <mat-cell *matCellDef="let produto"> R$ {{ produto.preco * produto.quantidade | number: '1.2-2' }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['nome', 'quantidade', 'preco']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['nome', 'quantidade', 'preco'];"></mat-row>
    </mat-table>

    <div class="total">
      <h3>Total: R$ {{ pedido.total | number: '1.2-2' }}</h3>
    </div>

    <div class="acoes">
      <button mat-raised-button style="color: red;" (click)="limparCarrinho()">Limpar Carrinho</button>
      <button mat-raised-button [disabled]="pedido.total === 0" (click)="finalizarPedido()">
        Finalizar Pedido
      </button>
    </div>
  </mat-card>
</div>

<div class="container">
  <mat-card>
    <h2>Lista de Pedidos</h2>
    <mat-table [dataSource]="pedidos" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="total">
        <mat-header-cell mat-header-cell *matHeaderCellDef> TOTAL </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.total | currency}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <mat-header-cell mat-header-cell *matHeaderCellDef> AÇÕES </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let pedido">
          <button mat-icon-button style="color: green;" (click)="realizarPagamento(pedido)">
            <mat-icon>attach_money</mat-icon>
          </button>
          <button mat-icon-button style="color: red;" (click)="recusarPagamento(pedido)">
            <mat-icon>block</mat-icon>
          </button>
          <button mat-icon-button style="color: red;" (click)="excluirPedido(pedido)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['id', 'status', 'total', 'acoes']"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: ['id', 'status', 'total', 'acoes'];"></mat-row>
    </mat-table>
  </mat-card>
</div>